
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, rgb(138, 71, 235), rgb(155, 98, 239)); /* Moved here to fill entire screen */
}

.app {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Changed from center to flex-end */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 50px; /* Some padding to prevent the container from touching the very bottom */
  background-image: url('../assets/image2.jpg'); /* Replace with the actual path to your image */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative; /* This is required for the ::before pseudo-element to work */

}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.signup-email-btn,
.social-btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.signup-email-btn {
  background-color: white;
  color: rgb(138, 71, 235);
}

.signup-email-btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.or-section {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.or-hr {
  flex: 1;
  border: none;
  height: 1px;
  background-color: white;
  margin: 0 10px;
}

.or-text {
  color: white;
  font-size: 14px;
}

.social-btn {
  background-color: white;
  display: flex;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.footer {
  margin-top: 10px;
}

.signup-email-btn-link {
  display: inline-block;  
  padding: 15px 100px;     
  background-color: white;
  color: rgb(138, 71, 235);
  text-decoration: none;  
  border-radius: 5px;     
  transition: background-color 0.3s;
}

.signup-email-btn-link:hover {
  background-color: rgba(255, 255, 255, 0.9);
}


