/* Main login container styles */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, rgb(138, 71, 235), rgb(155, 98, 239));
}

/* Form container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 800px;
  padding: 50px 40px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
}

.fields-container {
  width: 100%;
  padding: 0 20px;  /* Adjusted padding to only left and right */
}

.input-field {
  width: calc(100% - 40px);  /* Subtracting the left and right padding */
  padding: 15px 20px;
  margin-bottom: 25px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  font-size: 1.1rem;
  box-sizing: border-box;  /* This ensures that padding and border are included in the width */
  transition: border-color 0.3s;
}

.form-title {
  margin-bottom: 30px;
  color: rgb(138, 71, 235);
  font-size: 2rem;
}

.input-field, .submit-btn {
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 20px;
  font-size: 1rem;
  border-radius: 8px;
  transition: border-color 0.3s;
}



.input-field:focus {
  border-color: rgb(138, 71, 235);
  outline: none;
}

.submit-btn {
  background-color: rgb(138, 71, 235);
  border: none;
  color: white;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: rgb(155, 98, 239);
}

.footer {
  margin-top: 20px;
  text-align: center;
}

.switch-link {
  color: rgb(138, 71, 235);
  cursor: pointer;
  text-decoration: underline;
}

/* Responsive for smaller screens/tablets */
@media (max-width: 768px) {
  .form-container {
    width: 70%;
    padding: 40px 30px;
  }

  .input-field, .submit-btn {
    padding: 12px 15px;
    margin-bottom: 15px;
    font-size: 0.95rem;
  }
}

/* Responsive for mobile screens */
@media (max-width: 480px) {
  .form-container {
    width: 85%;
    padding: 30px 15px;
    border-radius: 10px;
  }

  .form-title {
    font-size: 1.7rem;
  }

  .input-field, .submit-btn {
    padding: 10px 12px;
    font-size: 0.9rem;
  }
}
